.App {
  background-color: rgba(195, 241, 241, 0.247);
}

.header {
  font-size: 150%;
  font-style: italic;
  color: #080202;
}

.header-right{
  float: right;
}


.cardp{
  padding: 2%;
}

.cardbox{
  border-radius: 30px;
  box-shadow: 5px 10px 18px #080202;
}
.center{
  text-align: center;
  padding-bottom: 5px;
}